.Faseting-List-Block {
  height: 120px;
  display: flex;
  align-items: center;
  .Faseting-List-Img {
    width: 50px;
    height: 50px;
    border: 1px solid #545662;
    border-radius: 10px;
  }
  .Faseting-List-Name {
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
  }
}
