.faseting-list-modal{
    width: 300px;
    position: absolute;
    top: 52%;
    left: 25%;
    display: flex;
    justify-content: space-evenly;
    background-color: silver;
    padding: 12px;
    flex-wrap: wrap;
    border: 1px solid lavenderblush;
    border-radius: 5px;
    gap: 10px;
}