.Type-List-Nav-Block {
  position: relative;
  nav {
    width: 450px;
  }
  ul {
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
  }
  li {
    color: white;
    list-style: none;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
  }
}
.Type-List-Nav-Block::after {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 480px;
  left: 0px;
  top: 30px;
  background-color: black;
}
.navigation-item {
  color: white;
  padding: 6px 15px;
  &.active {
    border-bottom: 3px solid orange;
  }
  &:active,
  &:hover {
    color: white;
    text-decoration: none;
  }
}
