.Price-List {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .price-list-Item {
    background-color: #545662;
    border-radius: 3px;
    position: relative;
  }

  .Price-List-Item {
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: black 1px solid;
    padding: 4px;
  }
  .Price-List-img {
    width: 45px;
    height: 25px;
  }
  .Price-List-Img-Silver {
    width: 45px;
    height: 45px;
  }
  .Price-List-Img-Block {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
